body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

img {
    border-radius: 50%;
    max-width: 100px;
}

section {
    margin: 20px 0;
}

footer {
    background-color: #333333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
/* styles.css */
pre {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
}

code.java {
    font-family: 'Courier New', Courier, monospace;
    color: #333;
}

code {
    background-color: #eee;
    border-radius: 3px;
    font-family: courier, monospace;
    padding: 0 3px;
  }


